// INFO: I seperated colors to more easily swap certain colors later on;
// here it's a bit overkill but a good practice.

$LightBlack: #0a0202c5;
$Gray: #747474e3;
$White: #ffffff;
$Red: #c51a1a;
$Blue: #2b4af8;

$accent: $Blue;
$fg-alert: $Red;
$fg-main: $LightBlack;
$fg-secondary: $Gray;
$bg-main: $White;
